/* @charset "UTF-8"; */

.tree{
  margin-top: 5px;
}

.tree, .tree ul, .tree ul a{
  cursor: pointer;
  font-size: 14px;
  color: gray;
}
.tree, .tree ul{
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding-left:10px;
}
.tree *:before{
  width:15px;
  height:15px;
  display:inline-block;
}
.tree label{
  cursor: pointer;
  font-family: NotoSansKrMedium, sans-serif !important;
  font-size: 14px;
  color: #0055CC;
}
.tree label:hover{
  color: #00AACC;
}
.tree label:before{
  content: '+'
}
.tree label.lastTree:before{
  content:'-';
}
.tree label:hover:before{
  content: '+'
}
.tree label.lastTree:hover:before{
  content:'-';
}
.tree input[type="checkbox"] {
  display: none;
}
.tree input[type="checkbox"]:checked~ul {
  display: none;
}
.tree input[type="checkbox"]:checked+label:before{
  content: '-'
}
.tree input[type="checkbox"]:checked+label:hover:before{
  content: '-'
}

.tree input[type="checkbox"]:checked+label.lastTree:before{
  content: '✔';
}
.tree input[type="checkbox"]:checked+label.lastTree:hover:before{
  content: '✔';
}